@font-face{
    src: url('../assets/font/Karla-Bold.ttf');
    font-family: 'bold';
};
@font-face{
    font-family: 'bold-italic';
    src: url('../assets/font/Karla-BoldItalic.ttf');
}
@font-face{
    font-family: 'italic';
    src: url('../assets/font/Karla-Italic.ttf');
}
@font-face{
    font-family: 'regular';
    src: url('../assets/font/Karla-Regular.ttf');
}
@font-face{
    font-family: 'perpetua';
    src: url('../assets/font/Perpetua.ttf');
}
$font-bold: 'bold';
$font-reguler: 'regular';
$font-bold-italic: 'bold-italic';
$font-italic: 'italic';
$font-perpetua: 'perpetua';