$background: #fafaf6;
$primary: #222831;
$accent: #282B29;
$secondary: #195BFF;
$red: #E83C38;
$green: #00A19A;
$soft: #A6D1C9;
$pink: #F4C4C4;
$bg: #1b2021;


#app.theme-red{
    .bg-menu, .border, .border-r, .border-b{
        border-color: $red !important;
        background: $background;
        color: $red;
    }
    .bgs:hover{
        background: $red;
        color: $background;
    }
    .rounded{
        background: $red;
    }
    background: $background;
    color: $red;
    a{
        color: $red;
    }
    .here{
        border-bottom: 1px solid $red;
    }
    .line{
        background: $red;
        height: 0.80px;
    }
    svg{
        fill: $red;
    }
    .navi{
        background: $background;
        color: $red;
    }
}
#app.theme-white{
    background: $background;
    color: $primary;
    .rounded, .rounded-full{
        background: $primary;
    }
    .bg-menu, .border, .border-r, .border-b{
        border-color: $primary !important;
        background: $background;
        color: $primary;
    }
    .bgs:hover{
        background: $primary;
        color: $background;
    }
    a{
        color: $primary;
        text-decoration: none;
    }
    .line{
        height: 0.80px;
        background: $primary;
    }
    .here{
        border-bottom: 1px solid $primary;
    }
    svg{
        fill: $primary;
    }
    .navi{
        background: $background;
        color: $primary;
    }
}
#app.theme-green{
    background: $green;
    color: $background;
    .rounded, .rounded-full{
        background: $background;
    }
    .bg-menu, .border, .border-r, .border-b{
        border-color: $background !important;
        background: $green;
        color: $background;
    }
    .bgs:hover{
        background: $background;
        color: $green;
    }
    a{
        color: $background;
        text-decoration: none;
    }
    .line{
        height: 0.80px;
        background: $background;
    }
    .here{
        border-bottom: 1px solid $background;
    }
    svg{
        fill: $background;
    }
    .navi{
        background: $green;
        color: $background;
    }

}
#app.theme-soft{
    background: $soft;
    color: $red;
    .rounded, .rounded-full{
        background: $red;
    }
    .bg-menu, .border, .border-r, .border-b{
        border-color: $red !important;
        background: $soft;
        color: $red;
    }
    .bgs:hover{
        background: $red;
        color: $soft;
    }
    a{
        color: $red;
        text-decoration: none;
    }
    .here{
        border-bottom: 1px solid $red;
    }
    .line{
        height: 0.80px;
        background: $red;
    }
    
    svg{
        fill: $red;
    }
    .navi{
        background: $soft;
        color: $red;
    }

}
#app.theme-dark{
    background: $accent;
    color: $soft;
    .rounded, .rounded-full{
        background: $soft;
    }
    .bg-menu, .border, .border-r, .border-b{
        border-color: $soft !important;
        background: $accent;
        color: $soft;
    }
    .bgs:hover{
        background: $soft;
        color: $accent;
    }
    a{
        color: $soft;
        text-decoration: none;
    }
    .here{
        border-bottom: 1px solid $soft;
    }
    .line{
        height: 0.80px;
        background: $soft;
    }
    svg{
        fill: $soft;
    }
    .box_bl{
        border-bottom: 0.0001px solid;
        border-bottom-color: $soft;   
    }

}
#app.theme-pink{
    background: $pink;
    color: $accent;
    .rounded, .rounded-full{
        background: $accent;
    }
    .bg-menu, .border, .border-r, .border-b{
        border-color: $accent !important;
        background: $pink;
        color: $accent;
    }
    .bgs:hover{
        background: $accent;
        color: $pink;
    }
    a{
        color: $accent;
        text-decoration: none;
    }
    .line{
        height: 0.80px;
        background: $accent;
    }
    .here{
        border-bottom: 1px solid $accent;
    }
    svg{
        fill: $accent;
    }
    .navi{
        background: $pink;
        color: $accent;
    }
}