$background: #fafaf6;
$primary: #222831;
$accent: #282B29;
$secondary: #195BFF;
$red: #E83C38;
$green: #00A19A;
$soft: #A6D1C9;
$pink: #F4C4C4;
$bg: #1b2021;


#baseweb.theme-red{
    background: $background;
    color: $red;
    a{
        color: $red;
    }
    .here{
        border-bottom: 1px solid $red;
    }
    .line{
        background: $red;
        height: 0.80px;
    }
    svg{
        fill: $red;
    }
    .box__br{
        border-right: 0.0001px solid $red;
        border-bottom: 0.0001px solid;
        border-bottom-color: $red;  
    }
    .box_bl{
        border-bottom: 0.0001px solid;
        border-bottom-color: $red;  
    }
    .navi{
        background: $background;
        color: $red;
    }
}
#baseweb.theme-white{
    background: $background;
    color: $primary;
    a{
        color: $primary;
        text-decoration: none;
    }
    .line{
        height: 0.80px;
        background: $primary;
    }
    .here{
        border-bottom: 1px solid $primary;
    }
    svg{
        fill: $primary;
    }

    .box__br{
        border-right: 0.0001px solid $primary;
        border-bottom: 0.0001px solid $primary;
        border-bottom-color: $primary;
    }
    .box_bl{
        border-bottom: 0.0001px solid $primary;
        border-bottom-color: $primary;
    }
    .navi{
        background: $background;
        color: $primary;
    }
}
#baseweb.theme-green{
    background: $green;
    color: $background;
    a{
        color: $background;
        text-decoration: none;
    }
    .line{
        height: 0.80px;
        background: $background;
    }
    .here{
        border-bottom: 1px solid $background;
    }
    svg{
        fill: $background;
    }

    .box__br{
        border-right: 0.0001px solid $background;
        border-bottom: 0.0001px solid $background;
        border-bottom-color: $background;
    }
    .box_bl{
        border-bottom: 0.0001px solid $background;
        border-bottom-color: $background;
    }
    .navi{
        background: $green;
        color: $background;
    }

}
#baseweb.theme-soft{
    background: $soft;
    color: $red;
    a{
        color: $red;
        text-decoration: none;
    }
    .here{
        border-bottom: 1px solid $red;
    }
    .line{
        height: 0.80px;
        background: $red;
    }
    
    svg{
        fill: $red;
    }

    .box__br{
        border-right: 0.0001px solid $red;
        border-bottom: 0.0001px solid $red;
        border-bottom-color: $red;  
    }
    .box_bl{
        border-bottom: 0.0001px solid;
        border-bottom-color: $red;  
    }
    .navi{
        background: $soft;
        color: $red;
    }

}
#baseweb.theme-dark{
    background: $accent;
    color: $soft;
    a{
        color: $soft;
        text-decoration: none;
    }
    .here{
        border-bottom: 1px solid $soft;
    }
    .line{
        height: 0.80px;
        background: $soft;
    }
    svg{
        fill: $soft;
    }
    .navi{
        background: $accent;
        color: $soft;
    }
    .box__br{
        border-right: 0.0001px solid $soft;
        border-bottom: 0.0001px solid;
        border-bottom-color: $soft;   
    }
    .box_bl{
        border-bottom: 0.0001px solid;
        border-bottom-color: $soft;   
    }

}
#baseweb.theme-pink{
    background: $pink;
    color: $accent;
    a{
        color: $accent;
        text-decoration: none;
    }
    .line{
        height: 0.80px;
        background: $accent;
    }
    .here{
        border-bottom: 1px solid $accent;
    }
    svg{
        fill: $accent;
    }

    .box__br{
        border-right: 0.0001px solid $accent;
        border-bottom: 0.0001px solid;
        border-bottom-color: $accent;
    }
    .box_bl{
        border-bottom: 0.0001px solid;
        border-bottom-color: $accent;
    }
    .navi{
        background: $pink;
        color: $accent;
    }
}
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

.slideback-leave-active,
.slideback-enter-active {
  transition: 1s;
}
.slideback-enter {
  transform: translate(-100%, 0);
}
.slideback-leave-to {
  transform: translate(100%, 0);
}