label, #alamat, .form-control{
    span{
        color: red;
        font-weight: bold;
    }
    font-size: 13px;
}
#checkbox{
  font-size: 10px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to{
  opacity: 0
}